﻿
 @{
     ViewBag.Title = "Create";
}
<form id="createProduct" >
    <h2>Create Product</h2>

    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Descripttion</label>
    <input name="Description" />

    <br />

    <label>Price</label>
    <input name="Price" />

    <br />
    <button id="saveBtn" type="button">Save</button>

</form>
<script>
    $("#saveBtn").click(function () {
        
        $.ajax({
            type:"POST",
            url: '/Product/Create',
            data:$("#createProduct").serialize
            
        })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
        })

        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");

        });
    });
</script>


