﻿@model ClothBazar.Entities.Product
@{
    ViewBag.Title = "Edit";
}
<form id="EditProduct">
    <h2>Create Product</h2>
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>

    <br />

    <label>Descripttion</label>
    <input name="Description" value="@Model.Description"/>

    <br />

    <label>Price</label>
    <input name="Price" value="@Model.Price" />

    <br />
    <button id="updateBtn" type="button">Update</button>

</form>
<script>
    $("#updateBtn").click(function () {

        $.ajax({
            type:"POST",
            url: '/Product/Edit',
            data: $("#EditProduct").serialize

        })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
        })

        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");

        });
    });
</script>



