﻿@model List<ClothBazar.Entities.Product>


@{
    ViewBag.Title = "ProductTable";
}
<div>
    <form method="post">
        <input id="serachTxt" name="search" />

        <button type="button" id="searchBtn">search</button>

    </form>
    <button type="button" id="newBtn">New</button>
</div>


<h2>ProductTable</h2>
<div >
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td> @product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>

                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>

            }

        </tbody>

    </table>

</div>

<script>
    $("#searchBtn").click(function () {
        var serachValue = $("searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: serachValue
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })

        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");

        });
    });


    $("#newBtn").click(function () {

        $.ajax({
            url: '/Product/Create',
           
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })

        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");

        });
    });
     
    $(".editBtn").click(function () {

        $.ajax({
            url: '/Product/Edit',
            data: {
                ID:$(this).attr('data-id')
            }

        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })

        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");

        });
    });


    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure to delete this Product?");
        if (!confirmDelete)
        {
            $.ajax({
                type:'Post',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
      .done(function (response) {
          $("#tableContainer").html(response);
      })

      .fail(function (XMLHttpRequest, textStatus, errorThrown) {
          alert("FAIL");

      });
        }

      
    });
</script>

