﻿
@{
    ViewBag.Title = "Create";
}
<form method="post">
    <h2>Create Category</h2>

    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Descripttion</label>
    <input name="Description" />

    <br />

    <button type="submit">Save</button>

</form>