﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}
<form method="post">
    <h2>Edit Category</h2>
     <input type="hidden" name="ID" value="@Model.ID" />

     <label>Name</label>
    <input name="Name" value="@Model.Name" />

    <br />

    <label>Descripttion</label>
    <input name="Description" value="@Model.Description"  />

    <br />

    <button type="submit">Save</button>

</form>